<!DOCTYPE html>
{% load dajaxice_templatetags %}
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/cupertino/jquery-ui-1.10.3.custom.min.css" %}" />
    <script type="text/javascript" src="{% static "js/jquery-1.7.2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui-1.10.3.custom.min.js" %}"></script>
    {% dajaxice_js_import %}
    <script type="text/javascript" src="{% static "dajax/jquery.dajax.core.js" %}"></script>
    {% block scripts %}{% endblock %}
</head>

<body>
<div id="menu-container" style="position:absolute; top: 0; right: 0;">
    <ul id="navigationMenu" class="menuheader">
        {% block bodymenu %}
        {% endblock %}
    </ul>
</div>

<div class="container" {% block containerstyle %}{% endblock %}>
    {% block content %}{% endblock %}
</div>
</body>

</html>