{% extends "base_template.html" %}

{% block title %}Rapid Thermal Processor{% endblock %}

{% block scripts %}

    <script type="text/javascript">

    </script>
{% endblock %}

{% block bodymenu %}
    <li><a href="function/upload" class="normalMenu">Upload recipe</a></li>
    <li><a href="function/save" class="normalMenu">Save recipe</a></li>
    <li><a href="/standby" class="normalMenu">Standby</a></li>
    <li><a href="/operate" class="normalMenu">Operate</a></li>
{% endblock %}

{% block content %}
    <table border="1"><tbody>
        <form  method="post" action="run/">{% csrf_token %}
        <tr>
            <th>step</th>
            <th>Ramp Time (min)</th>
            <th>Soak Level (C)</th>
            <th>Soak Time (min)</th>
        </tr>
            {{ recipes.management_form }}
        {% for value in recipes %}
            {{ value.id }}
            <tr>
                <td>{{ value.step }}</td>
                <td>{{ value.ramp_time }}</td>
                <td>{{ value.soak_level }}</td>
                <td>{{ value.soak_time }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td><input type="submit" value="Run!"></td>
            <td><input type="" value="Upload recipe"></td>
            <td><input type="" value="Save recipe"></td>
        </form>
        </tr>
    </tbody>
    </table>

{% endblock %}